<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" formControlName="plateNum" placeholder="Plate number" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" formControlName="yearOfMake" placeholder="Year of make" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" formControlName="km" placeholder="Km" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="color" placeholder="Color" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="startOfParking" placeholder="Start of parking" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="endOfParking" placeholder="End of parking" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose owner" required [attr.disabled]="readOnly" formControlName="personId">
      <mat-option *ngFor="let person of persons" [value]="person.id">
        {{person.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button type="submit" color="primary">Save</button>
  
</form>
{{car | json}}
{{carForm.value | json}}