<form [formGroup]="rentForm" (ngSubmit)="onSubmit()">
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput type="text" formControlName="fullName" placeholder="Full name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" formControlName="idCardNumber" placeholder="ID CARD Number" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="bankAccountNumber" placeholder="BANK Accountnumber" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="startOfRent" placeholder="Start of renting" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="endOfRent" placeholder="End of reting" required>
  </mat-form-field>
  <button mat-flat-button type="submit" color="primary">Save</button>
  
</form>
{{rent | json}}
<br>
{{rentForm.value | json}}