<h1>Autókölcsönző</h1>

<p><li>Ez a projekt egy autókölcsönző applikáció, ami két fő funkciót foglal magába.</li></p>

<p><li>A reptér melletti ingyenes parkolóba a felhasználó le tudja adni az autóját, ha hosszabb időre elutazik.</li></p>

<p><li>Az ő autóját más emberek ki tudják kölcsönözni.</li></p>
<br>
<p>Előnyei:</p>

<p><li>Az autó akkumulátora nem merül le, mert az autót használják.</li></p>
<p><li>A tulajdonos pénzt kap a távollétében.</li></p>
<p><li>A parkolás ingyenes.</li></p>
<p><li>Ingyen mosás az autó leadásakor és elvitelekor.</li></p>
<p><li>Az autón a parkolás/kölcsönzés ideje alatt teljeskörű casco biztosítás köttetik.</li></p>
<p><li>A felhasználó autót tud kölcsönözni a reptér közelében.</li></p>

<router-outlet></router-outlet>