<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" value="" formControlName="username" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" value="" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password again" value="" formControlName="passwordAgain" required>
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary">Register</button>
  </form>
  <router-outlet></router-outlet>